<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netease.hz.bdms.easyinsight.dao.EisEventBuryPointMapper">
    <resultMap id="BaseResultMap" type="com.netease.hz.bdms.easyinsight.dao.model.EisEventBuryPoint">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="req_pool_id" jdbcType="BIGINT" property="reqPoolId"/>
        <result column="event_id" jdbcType="BIGINT" property="eventId"/>
        <result column="event_param_package_id" jdbcType="BIGINT" property="eventParamPackageId"/>
        <result column="terminal_id" jdbcType="BIGINT" property="terminalId"/>
        <result column="terminal_release_id" jdbcType="BIGINT" property="terminalReleaseId"/>
        <result column="terminal_param_package_id" jdbcType="BIGINT" property="terminalParamPackageId"/>
        <result column="extInfo" jdbcType="VARCHAR" property="extInfo"/>
        <result column="pre_id" jdbcType="BIGINT" property="preId"/>
    </resultMap>

    <sql id="BASE_COLUMN_LIST">
        id, req_pool_id, event_id, event_param_package_id, terminal_id, terminal_release_id, terminal_param_package_id, extInfo
        pre_id, create_email, create_name, update_email, update_name, create_time, update_time
    </sql>

    <select id="selectBatchByIds" resultMap="BaseResultMap">
        select
        <include refid="BASE_COLUMN_LIST"/>
        from eis_event_bury_point
        <where>
            <if test="ids != null and ids.size() > 0">
                id in
                <foreach collection="ids" index="index" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>

    <!-- todo  -->
    <insert id="insertBatch" parameterType="com.netease.hz.bdms.easyinsight.dao.model.EisEventBuryPoint"
            useGeneratedKeys="true" keyProperty="id">
        insert into eis_event_bury_point
        (
            <if test="entity.reqPoolId != null"> req_pool_id, </if>
            <if test="entity.eventId != null"> event_id, </if>
            <if test="entity.eventParamPackageId != null"> event_param_package_id, </if>
            <if test="entity.terminalId != null"> terminal_id, </if>
            <if test="entity.terminalReleaseId != null"> terminal_released_id, </if>
            <if test="entity.terminalParamPackageId != null"> terminal_param_package_id, </if>
            <if test="entity.extInfo != null"> extInfo, </if>
            <if test="entity.preId != null"> pre_id, </if>
            <if test="entity.createEmail != null"> create_email, </if>
            <if test="entity.createName != null"> create_name, </if>
            <if test="entity.updateEmail != null"> update_email, </if>
            <if test="entity.updateName != null"> update_name, </if>
            <if test="entity.createTime != null"> create_time, </if>
            <if test="entity.updateTime != null"> update_time, </if>
            id
        )
        values
        <foreach collection="list" item="entity" separator=",">
            (
                <if test="entity.reqPoolId != null">#{entity.reqPoolId}, </if>
                <if test="entity.eventId != null"> #{entity.eventId}, </if>
                <if test="entity.eventParamPackageId != null"> #{entity.eventParamPackageId}, </if>
                <if test="entity.terminalId != null"> #{entity.terminalId}, </if>
                <if test="entity.terminalReleaseId != null"> #{entity.terminalReleaseId}, </if>
                <if test="entity.terminalParamPackageId != null"> #{entity.terminalParamPackageId}, </if>
                <if test="entity.extInfo != null"> #{entity.extInfo}, </if>
                <if test="entity.preId != null"> #{entity.preId}, </if>
                <if test="entity.createEmail != null"> #{entity.createEmail}, </if>
                <if test="entity.createName != null"> #{entity.createName}, </if>
                <if test="entity.updateEmail != null"> #{entity.updateEmail}, </if>
                <if test="entity.updateName != null"> #{entity.updateName}, </if>
                <if test="entity.createTime != null"> #{entity.createTime}, </if>
                <if test="entity.updateTime != null"> #{entity.updateTime}, </if>
                #{entity.id}
            )
        </foreach>
    </insert>

    <delete id="deleteByIds">
        delete from eis_event_bury_point
        where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
</mapper>