<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netease.hz.bdms.easyinsight.dao.EisLogCheckMonitorItemMapper">
    <resultMap id="BaseResultMap" type="com.netease.hz.bdms.easyinsight.dao.model.logcheck.EisLogCheckMonitorItem">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="appId" jdbcType="BIGINT" property="appId"/>
        <result column="itemName" jdbcType="VARCHAR" property="itemName"/>
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="createTime" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="tableName">
        `eis_logcheck_monitor_item`
    </sql>
    <sql id="BASE_COLUMN_LIST">
        id,appId,itemName,content,creator,createTime,updateTime
    </sql>

    <insert id="insert" parameterType="com.netease.hz.bdms.easyinsight.dao.model.logcheck.EisLogCheckMonitorItem"
            useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into
        <include refid="tableName"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="appId != null">
                appId,
            </if>
            <if test="itemName != null">
                itemName,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="createTime != null">
                createTime,
            </if>
            <if test="updateTime != null">
                updateTime,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="appId != null">
                #{appId,jdbcType=BIGINT},
            </if>
            <if test="itemName != null">
                #{itemName,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=LONGVARCHAR},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <select id="getById" resultMap="BaseResultMap">
        select
        <include refid="BASE_COLUMN_LIST"/>
        from eis_logcheck_monitor_item
        <where>
            id = #{id}
        </where>
    </select>

    <update id="updateItem">
        update eis_logcheck_monitor_item
        <set>
            itemName = #{itemName}, content=#{content}
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <select id="batchGetById" resultMap="BaseResultMap">
        select
        <include refid="BASE_COLUMN_LIST"/>
        from eis_logcheck_monitor_item
        <where>
            id in
            <foreach collection="ids" index="index" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </where>
    </select>

    <select id="searchByName" resultMap="BaseResultMap">
        select
        <include refid="BASE_COLUMN_LIST"/>
        from eis_logcheck_monitor_item
        <where>
            appId = #{appId} and itemName like concat("%", #{search}, "%")
        </where>
    </select>

    <select id="listAll" resultMap="BaseResultMap">
        select
        <include refid="BASE_COLUMN_LIST"/>
        from eis_logcheck_monitor_item
        <where>
            appId = #{appId}
        </where>
        order by createTime desc
    </select>

    <delete id="deleteById">
        delete from eis_logcheck_monitor_item
        where id =
            #{id, jdbcType=BIGINT}
    </delete>

</mapper>