<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netease.hz.bdms.easyinsight.dao.EisReqPoolRelBaseReleaseMapper">
  <resultMap id="BaseResultMap" type="com.netease.hz.bdms.easyinsight.dao.model.EisReqPoolRelBaseRelease">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="req_pool_id" jdbcType="BIGINT" property="reqPoolId" />
    <result column="terminal_id" jdbcType="BIGINT" property="terminalId" />
    <result column="base_release_id" jdbcType="BIGINT" property="baseReleaseId" />
    <result column="current_use" jdbcType="BIGINT" property="currentUse" />
    <result column="auto_rebase" jdbcType="BIGINT" property="autoRebase" />
    <result column="create_email" jdbcType="VARCHAR" property="createEmail" />
    <result column="create_name" jdbcType="VARCHAR" property="createName" />
    <result column="update_email" jdbcType="VARCHAR" property="updateEmail" />
    <result column="update_name" jdbcType="VARCHAR" property="updateName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List" >
    id,req_pool_id,terminal_id,base_release_id,current_use,auto_rebase,create_email,create_name,update_email,update_name,create_time,update_time
  </sql>


  <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
    insert into eis_req_pool_rel_base_release
    (<include refid="Base_Column_List"/>)
    values
    <foreach collection="list" item="entity" separator=",">
      (#{entity.id}, #{entity.reqPoolId},#{entity.terminalId},#{entity.baseReleaseId},#{entity.currentUse},#{entity.autoRebase},#{entity.createEmail},#{entity.createName},
      #{entity.updateEmail},#{entity.updateName},#{entity.createTime},#{entity.updateTime})
    </foreach>
  </insert>


  <select id="batchGetCurrentUse" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from eis_req_pool_rel_base_release
    <where>
      current_use = 1 and req_pool_id in
      <foreach collection="reqPoolIds" index="index" item="reqPoolId" open="(" separator="," close=")">
        #{reqPoolId}
      </foreach>
    </where>
  </select>

  <update id="updateCurrentUse">
    update eis_req_pool_rel_base_release
    <set>
      current_use = #{newCurrentUse}
    </set>
    where current_use = #{oldCurrentUse} and req_pool_id = #{reqPoolId} and terminal_id = #{terminalId}
  </update>

  <delete id="deleteDuplicate">
    delete from eis_req_pool_rel_base_release
    where current_use = 1 and req_pool_id = #{reqPoolId} and terminal_id = #{terminalId} and id != #{excludeId, jdbcType=BIGINT}
  </delete>
</mapper>